/Front-End JavaScript Frameworks: AngularJS/Main/Week 2/Grunt/conFusion/node_modules/
/Front-End JavaScript Frameworks: AngularJS/Main/Week 2/Gulp/conFusion/node_modules/
/Front-End JavaScript Frameworks: AngularJS/Homework 2/node_modules
/Front-End JavaScript Frameworks: AngularJS/Main/Week 3/node_modules
/Front-End JavaScript Frameworks: AngularJS/Homework 3/node_modules
/Front-End JavaScript Frameworks: AngularJS/Main/Week 4/conFusion/node_modules
/Front-End JavaScript Frameworks: AngularJS/Homework 4/conFusion/node_modules

/Server-side Development with NodeJS/Main/Week 1/node-examples/node_modules
/Server-side Development with NodeJS/Main/Week 1/node-express/node_modules
/Server-side Development with NodeJS/Homework 1/node-express/node_modules 
/Server-side Development with NodeJS/Main/Week 2/node-express-gen/node_modules 